<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985965145385-fvv7ktoj13anmq1hpv1gca05jpqc1tep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985965145385-fvv7ktoj13anmq1hpv1gca05jpqc1tep</string>
	<key>API_KEY</key>
	<string>AIzaSyDEEm3WfCMuziQY7hLbGG7kr67Kw9zaJ00</string>
	<key>GCM_SENDER_ID</key>
	<string>985965145385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moflutter</string>
	<key>PROJECT_ID</key>
	<string>newfianl</string>
	<key>STORAGE_BUCKET</key>
	<string>newfianl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985965145385:ios:76b3607eea8489c397db38</string>
</dict>
</plist>